In [86]:
dtc

    max_depth  cut_off  accuracy    recall  Performance
0           3     0.05  0.975195  0.741445     0.842405
1           3     0.10  0.994887  0.463403     0.632294
2           3     0.15  0.994887  0.463403     0.632294
3           3     0.20  0.994887  0.463403     0.632294
4           3     0.25  0.994887  0.463403     0.632294
..        ...      ...       ...       ...          ...
83         10     0.35  0.993969  0.667300     0.798517
84         10     0.40  0.994174  0.660646     0.793799
85         10     0.45  0.994174  0.660646     0.793799
86         10     0.50  0.994254  0.654943     0.789693
87         10     0.55  0.995519  0.575570     0.729419

[88 rows x 5 columns]

In [89]:
rf

     max_depth  n_estimators  cut_off  accuracy    recall  Performance
0            3           200     0.05  0.990674  0.550380     0.707629
1            3           200     0.10  0.992897  0.485266     0.651916
2            3           200     0.15  0.993867  0.482414     0.649545
3            3           200     0.20  0.995103  0.474810     0.642874
4            3           200     0.25  0.995600  0.464829     0.633764
..         ...           ...      ...       ...       ...          ...
435         10          1000     0.35  0.995393  0.672053     0.802373
436         10          1000     0.40  0.995850  0.654943     0.790196
437         10          1000     0.45  0.996174  0.639259     0.778770
438         10          1000     0.50  0.996420  0.615970     0.761310
439         10          1000     0.55  0.996640  0.586027     0.738068

[440 rows x 6 columns]

In [104]:
import pandas as pd

lr = pd.read_csv('LR_results.csv')
ada_dtc = pd.read_csv('ADA_DTC.csv')
dtc = pd.read_csv('DTC_results.csv')
nn = pd.read_csv('NN_results.csv')
rf = pd.read_csv('RF_results.csv')
svc = pd.read_csv('SVC_results.csv')
gbc = pd.read_csv('GBC_results.csv')


lr['Model'] = 'LogisticRegression'
ada_dtc['Model'] = 'AdaBoostDecisionTrees'+'_'+ada_dtc['max_depth'].astype(str)+'_'+ada_dtc['estimators'].astype(str)+'_'+ada_dtc['learning_rate'].astype(str)
nn['Model'] = 'NeuralNetworks'+'_'+nn['number_of_neurons'].astype(str)+'_'+nn['activation'].astype(str)+'_'+nn['activation2'].astype(str)
svc['Model'] = 'SupportVectorMachine'+'_'+svc['Kernels']
dtc['Model'] = 'DecisionTrees'+'_'+dtc['max_depth'].astype(str)
rf['Model'] = 'RandomForest'+'_'+rf['max_depth'].astype(str)+'_'+rf['n_estimators'].astype(str)
gbc['Model'] = 'GradientBoosting'+'_'+gbc['max_depth'].astype(str)+'_'+gbc['estimators'].astype(str)+'_'+gbc['learning_rate'].astype(str)



lr = lr[['accuracy','recall','Performance','cut_off','Model']]
ada_dtc = ada_dtc[['accuracy','recall','Performance','cut_off','Model']]
nn = nn[['accuracy','recall','Performance','Model']]
svc = svc[['accuracy','recall','Performance','cut_off','Model']]
dtc = dtc[['accuracy','recall','Performance','cut_off','Model']]
rf = rf[['accuracy','recall','Performance','cut_off','Model']]
gbc = gbc[['accuracy','recall','Performance','cut_off','Model']]

lr['BestModel'] = lr['Model'][lr['Performance'] == max(lr['Performance'])]
ada_dtc['BestModel'] = ada_dtc['Model'][ada_dtc['Performance'] == max(ada_dtc['Performance'])]
nn['BestModel'] = nn['Model'][nn['Performance'] == max(nn['Performance'])]
svc['BestModel'] = svc['Model'][svc['Performance'] == max(svc['Performance'])]
dtc['BestModel'] = dtc['Model'][dtc['Performance'] == max(dtc['Performance'])]
rf['BestModel'] = rf['Model'][rf['Performance'] == max(rf['Performance'])]
gbc['BestModel'] = gbc['Model'][gbc['Performance'] == max(gbc['Performance'])]

results = pd.concat([lr,ada_dtc,nn, svc, dtc, rf, gbc])

In [106]:
results.BestModel.value_counts()

SupportVectorMachine_poly           11
SupportVectorMachine_rbf            11
RandomForest_10_400                  1
DecisionTrees_9                      1
GradientBoosting_3_200_0.01          1
NeuralNetworks_9_relu_softmax        1
AdaBoostDecisionTrees_9_600_0.01     1
LogisticRegression                   1
Name: BestModel, dtype: int64

In [18]:
results.to_csv('FinalResultsConcat.csv', index = False)